<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/howler.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="src/sounds.js"></script>
    <link type="text/css" rel="stylesheet" href="data/main.css"/>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <ul class="sounds">
        <li ng-repeat="sound in sounds">
            <label>{{sound}}:</label>
            <input placeholder="offset" ng-model="offsets[sound]" />
            <input placeholder="duration" ng-model="durations[sound]" />
            <button ng-click="play(sound)"></button>
        </li>
    </ul>
</body>
</html>