body {
    background-color: #aaa;
}
.sounds {
    padding: 0 15%;
}
.sounds label {
    width: 100px;
    display: inline-block;
    text-transform: capitalize;
}
.sounds li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
.sounds li button {
    margin-left: 15px;
    width: 25px;
    height: 20px;
    background-image: url("../data/play.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.sounds li input {
    width: 70px;
    text-align: center;
}
